.back-button {
    display: inline-block;
    margin: 10px 0;
    padding: 6px 12px;
    background-color: #e0e0e0;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
}

.dashboard-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.header-title {
    font-size: 18px;
    font-weight: bold;
}

.custom-table {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
}

.table-head {
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
    padding: 10px;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 10px;
}

.table-row.no-article {
    background-color: #fdfdfd;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    color: #888;
    font-style: italic;
}


.table-row:hover {
    background-color: #f0f8ff;
}

.row-left {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row-left img.img-miniature {
    width: 100px;
    height: auto;
    border-radius: 6px;
    margin-top: 8px;
}

.row-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-action {
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    padding: 6px;
    border-radius: 6px;
    transition: transform 0.2s;
}

.btn-action:hover {
    transform: scale(1.1);
}

.btn-action.edit {
    background-color: #2196F3;
    color: white;
}

.btn-action.delete {
    background-color: #f44336;
    color: white;
}

.btn-action.add {
    background-color: #4CAF50;
    color: white;
}